# show advanced-settings 
new APIData([
  new APIAdvancedSettingsTable([
    new APIProp({name:"background-scrub",value:"Enabled"}),
    new APIProp({name:"background-scrub-numeric",value:"1"}),
    new APIProp({name:"background-scrub-pool",value:"Enabled"}),
    new APIProp({name:"background-scrub-pool-numeric",value:"1"}),
    new APIProp({name:"background-scrub-interval",value:"24"}),
    new APIProp({name:"back-scrub-pool-interval",value:"24"}),
    new APIProp({name:"partner-firmware-upgrade",value:"Enabled"}),
    new APIProp({name:"partner-firmware-upgrade-numeric",value:"1"}),
    new APIProp({name:"utility-priority",value:"High"}),
    new APIProp({name:"utility-priority-numeric",value:"0"}),
    new APIProp({name:"smart",value:"Enabled"}),
    new APIProp({name:"smart-numeric",value:"1"}),
    new APIProp({name:"dynamic-spares",value:"Disabled"}),
    new APIProp({name:"emp-poll-rate",value:"5"}),
    new APIProp({name:"host-cache-control",value:"Disabled"}),
    new APIProp({name:"host-cache-control-numeric",value:"0"}),
    new APIProp({name:"sync-cache-mode",value:"Immediate"}),
    new APIProp({name:"sync-cache-mode-numeric",value:"0"}),
    new APIProp({name:"independent-cache",value:"Disabled"}),
    new APIProp({name:"independent-cache-numeric",value:"0"}),
    new APIProp({name:"missing-lun-response",value:"Not Ready"}),
    new APIProp({name:"missing-lun-response-numeric",value:"0"}),
    new APIProp({name:"controller-failure",value:"Disabled"}),
    new APIProp({name:"controller-failure-numeric",value:"0"}),
    new APIProp({name:"super-cap-failure",value:"Enabled"}),
    new APIProp({name:"super-cap-failure-numeric",value:"4"}),
    new APIProp({name:"compact-flash-failure",value:"Enabled"}),
    new APIProp({name:"compact-flash-failure-numeric",value:"512"}),
    new APIProp({name:"power-supply-failure",value:"Disabled"}),
    new APIProp({name:"power-supply-failure-numeric",value:"0"}),
    new APIProp({name:"fan-failure",value:"Disabled"}),
    new APIProp({name:"fan-failure-numeric",value:"0"}),
    new APIProp({name:"temperature-exceeded",value:"Disabled"}),
    new APIProp({name:"temperature-exceeded-numeric",value:"0"}),
    new APIProp({name:"partner-notify",value:"Disabled"}),
    new APIProp({name:"partner-notify-numeric",value:"0"}),
    new APIProp({name:"auto-write-back",value:"Enabled"}),
    new APIProp({name:"auto-write-back-numeric",value:"1"}),
    new APIProp({name:"disk-dsd-enable",value:"Disabled"}),
    new APIProp({name:"disk-dsd-enable-numeric",value:"0"}),
    new APIProp({name:"disk-dsd-enable-pool",value:"Disabled"}),
    new APIProp({name:"disk-dsd-enable-pool-numeric",value:"0"}),
    new APIProp({name:"disk-dsd-delay",value:"0"}),
    new APIProp({name:"disk-dsd-delay-pool",value:"0"}),
    new APIProp({name:"background-disk-scrub",value:"Disabled"}),
    new APIProp({name:"background-disk-scrub-numeric",value:"0"}),
    new APIProp({name:"managed-logs",value:"Disabled"}),
    new APIProp({name:"managed-logs-numeric",value:"0"}),
    new APIProp({name:"single-controller",value:"Disabled"}),
    new APIProp({name:"single-controller-numeric",value:"0"})],
    {basetype:"advanced-settings-table",name:"",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:18:22)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:18:22"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536702"})],
    {basetype:"status",name:"",oid:"2"})
])
# show auto-write-through-trigger 
new APIData([
  new APIAutoWriteThroughTrigger([
    new APIProp({name:"controller-failure",value:"Disabled"}),
    new APIProp({name:"super-cap-failure",value:"Enabled"}),
    new APIProp({name:"compact-flash-failure",value:"Enabled"}),
    new APIProp({name:"power-supply-failure",value:"Disabled"}),
    new APIProp({name:"fan-failure",value:"Disabled"}),
    new APIProp({name:"temperature-exceeded",value:"Disabled"}),
    new APIProp({name:"partner-notify",value:"Disabled"}),
    new APIProp({name:"auto-write-back",value:"Enabled"})],
    {basetype:"auto-write-through-trigger",name:"awt-triggers",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:18:34)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:18:34"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536714"})],
    {basetype:"status",name:"",oid:"2"})
])
# show certificate 
new APIData([
  new APICertificateStatus([
    new APIProp({name:"controller",value:"A"}),
    new APIProp({name:"controller-numeric",value:"1"}),
    new APIProp({name:"certificate-status",value:"System-generated"}),
    new APIProp({name:"certificate-status-numeric",value:"6058"}),
    new APIProp({name:"certificate-time",value:"2016-02-10 17:43:20"}),
    new APIProp({name:"certificate-signature",value:"BE:93:2F:F6:E0:01:4F:31:2E:C1:DC:60:23:88:91:50:ED:23:77:9B"}),
    {basetype:"certificate-status",name:"certificate-status",oid:"1"}),
  new APICertificateStatus([
    new APIProp({name:"controller",value:"B"}),
    new APIProp({name:"controller-numeric",value:"0"}),
    new APIProp({name:"certificate-status",value:"System-generated"}),
    new APIProp({name:"certificate-status-numeric",value:"6058"}),
    new APIProp({name:"certificate-time",value:"2016-02-10 17:53:31"}),
    new APIProp({name:"certificate-signature",value:"31:E3:82:1F:D5:1A:7E:C4:5E:C1:07:2B:A4:92:3D:69:9C:FF:D7:9F"}),
    {basetype:"certificate-status",name:"certificate-status",oid:"2"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:18:46)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:18:46"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536726"})],
    {basetype:"status",name:"",oid:"3"})
])
# show disk-parameters 
new APIData([
  new APIDriveParameters([
    new APIProp({name:"smart",value:"Enabled"}),
    new APIProp({name:"smart-numeric",value:"1"}),
    new APIProp({name:"drive-write-back-cache",value:"Disabled"}),
    new APIProp({name:"drive-write-back-cache-numeric",value:"2"}),
    new APIProp({name:"drive-timeout-retry-max",value:"3"}),
    new APIProp({name:"drive-attempt-timeout",value:"8"}),
    new APIProp({name:"drive-overall-timeout",value:"105"}),
    new APIProp({name:"disk-dsd-enable",value:"Disabled"}),
    new APIProp({name:"disk-dsd-enable-numeric",value:"0"}),
    new APIProp({name:"disk-dsd-enable-pool",value:"Disabled"}),
    new APIProp({name:"disk-dsd-enable-pool-numeric",value:"0"}),
    new APIProp({name:"disk-dsd-delay",value:"0"}),
    new APIProp({name:"disk-dsd-delay-pool",value:"0"})],
    {basetype:"drive-parameters",name:"drive-parameters",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:19:00)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:19:00"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536740"})],
    {basetype:"status",name:"",oid:"2"})
])
# show email-parameters 
new APIData([
  new APIEmailParameters([
    new APIProp({name:"email-notification",value:"Disabled"}),
    new APIProp({name:"email-notification-numeric",value:"0"}),
    new APIProp({name:"email-notification-filter",value:"none"}),
    new APIProp({name:"email-notification-filter-numeric",value:"0"}),
    new APIProp({name:"email-notify-address-1",value:""}),
    new APIProp({name:"email-notify-address-2",value:""}),
    new APIProp({name:"email-notify-address-3",value:""}),
    new APIProp({name:"email-notify-address-4",value:""}),
    new APIProp({name:"email-server",value:"0.0.0.0"}),
    new APIProp({name:"email-domain",value:"mydomain.com"}),
    new APIProp({name:"email-sender",value:""}),
    new APIProp({name:"email-include-logs",value:"Enabled"}),
    new APIProp({name:"email-include-logs-numeric",value:"1"})],
    {basetype:"email-parameters",name:"email-parameters",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:19:05)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:19:05"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536745"})],
    {basetype:"status",name:"",oid:"2"})
])
# show iscsi-parameters 
new APIData([
  new APIIscsiParameters([
    new APIProp({name:"chap",value:"Disabled"}),
    new APIProp({name:"chap-numeric",value:"0"}),
    new APIProp({name:"jumbo-frames",value:"Enabled"}),
    new APIProp({name:"jumbo-frames-numeric",value:"1"}),
    new APIProp({name:"isns",value:"Disabled"}),
    new APIProp({name:"isns-numeric",value:"0"}),
    new APIProp({name:"isns-ip",value:"0.0.0.0"}),
    new APIProp({name:"isns-alt-ip",value:"0.0.0.0"}),
    new APIProp({name:"iscsi-speed",value:"auto"}),
    new APIProp({name:"iscsi-speed-numeric",value:"0"}),
    new APIProp({name:"iscsi-ip-version",value:"4"}),
    new APIProp({name:"pause",value:"Enabled"}),
    new APIProp({name:"pause-numeric",value:"1"})],
    {basetype:"iscsi-parameters",name:"iscsi-parameter",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:19:26)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:19:26"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536766"})],
    {basetype:"status",name:"",oid:"2"})
])
# show job-parameters 
new APIData([
  new APIJobParameters([
    new APIProp({name:"background-scrub",value:"Enabled"}),
    new APIProp({name:"background-scrub-numeric",value:"1"}),
    new APIProp({name:"background-scrub-pool",value:"Enabled"}),
    new APIProp({name:"background-scrub-pool-numeric",value:"1"}),
    new APIProp({name:"partner-firmware-upgrade",value:"Enabled"}),
    new APIProp({name:"partner-firmware-upgrade-numeric",value:"1"}),
    new APIProp({name:"utility-priority",value:"High"}),
    new APIProp({name:"utility-priority-numeric",value:"0"})],
    {basetype:"job-parameters",name:"job-parameters",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:19:39)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:19:39"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536779"})],
    {basetype:"status",name:"",oid:"2"})
])
# show network-parameters 
new APIData([
  new APINetworkParameters([
    new APIProp({name:"durable-id",value:"mgmtport_a"}),
    new APIProp({name:"ip-address",value:"10.136.163.92"}),
    new APIProp({name:"gateway",value:"10.136.163.1"}),
    new APIProp({name:"subnet-mask",value:"255.255.255.0"}),
    new APIProp({name:"mac-address",value:"00:c0:ff:1b:7e:96"}),
    new APIProp({name:"addressing-mode",value:"Manual"}),
    new APIProp({name:"addressing-mode-numeric",value:"1"}),
    new APIProp({name:"link-speed",value:"10mbps"}),
    new APIProp({name:"link-speed-numeric",value:"0"}),
    new APIProp({name:"duplex-mode",value:"half"}),
    new APIProp({name:"duplex-mode-numeric",value:"1"}),
    new APIProp({name:"auto-negotiation",value:"Disabled"}),
    new APIProp({name:"auto-negotiation-numeric",value:"0"}),
    new APIProp({name:"health",value:"OK"}),
    new APIProp({name:"health-numeric",value:"0"}),
    new APIProp({name:"health-reason",value:""}),
    new APIProp({name:"health-recommendation",value:""}),
    new APIProp({name:"ping-broadcast",value:"Disabled"}),
    new APIProp({name:"ping-broadcast-numeric",value:"0"})],
    {basetype:"network-parameters",name:"controller-a",oid:"1"}),
  new APINetworkParameters([
    new APIProp({name:"durable-id",value:"mgmtport_b"}),
    new APIProp({name:"ip-address",value:"10.136.163.93"}),
    new APIProp({name:"gateway",value:"10.136.163.1"}),
    new APIProp({name:"subnet-mask",value:"255.255.255.0"}),
    new APIProp({name:"mac-address",value:"00:c0:ff:1b:7f:a6"}),
    new APIProp({name:"addressing-mode",value:"Manual"}),
    new APIProp({name:"addressing-mode-numeric",value:"1"}),
    new APIProp({name:"link-speed",value:"10mbps"}),
    new APIProp({name:"link-speed-numeric",value:"0"}),
    new APIProp({name:"duplex-mode",value:"half"}),
    new APIProp({name:"duplex-mode-numeric",value:"1"}),
    new APIProp({name:"auto-negotiation",value:"Disabled"}),
    new APIProp({name:"auto-negotiation-numeric",value:"0"}),
    new APIProp({name:"health",value:"OK"}),
    new APIProp({name:"health-numeric",value:"0"}),
    new APIProp({name:"health-reason",value:""}),
    new APIProp({name:"health-recommendation",value:""}),
    new APIProp({name:"ping-broadcast",value:"Disabled"}),
    new APIProp({name:"ping-broadcast-numeric",value:"0"})],
    {basetype:"network-parameters",name:"controller-b",oid:"2"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:19:50)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:19:50"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536790"})],
    {basetype:"status",name:"",oid:"3"})
])
# show protocols 
new APIData([
  new APISecurityCommunicationsProtocols([
    new APIProp({name:"wbi-http",value:"Enabled"}),
    new APIProp({name:"wbi-http-numeric",value:"1"}),
    new APIProp({name:"wbi-https",value:"Enabled"}),
    new APIProp({name:"wbi-https-numeric",value:"1"}),
    new APIProp({name:"cli-telnet",value:"Disabled"}),
    new APIProp({name:"cli-telnet-numeric",value:"0"}),
    new APIProp({name:"cli-ssh",value:"Enabled"}),
    new APIProp({name:"cli-ssh-numeric",value:"1"}),
    new APIProp({name:"smis",value:"Enabled"}),
    new APIProp({name:"smis-numeric",value:"1"}),
    new APIProp({name:"usmis",value:"Disabled"}),
    new APIProp({name:"usmis-numeric",value:"0"}),
    new APIProp({name:"ftp",value:"Disabled"}),
    new APIProp({name:"ftp-numeric",value:"0"}),
    new APIProp({name:"snmp",value:"Enabled"}),
    new APIProp({name:"snmp-numeric",value:"1"}),
    new APIProp({name:"debug-interface",value:"Disabled"}),
    new APIProp({name:"debug-interface-numeric",value:"0"}),
    new APIProp({name:"inband-ses",value:"Enabled"}),
    new APIProp({name:"inband-ses-numeric",value:"1"})],
    {basetype:"security-communications-protocols",name:"services-security-protocols",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:20:01)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:20:01"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536801"})],
    {basetype:"status",name:"",oid:"2"})
])
# show redundancy-mode 
new APIData([
  new APIRedundancy([
    new APIProp({name:"redundancy-mode",value:"Active-Active ULP"}),
    new APIProp({name:"redundancy-mode-numeric",value:"2"}),
    new APIProp({name:"redundancy-status",value:"Redundant"}),
    new APIProp({name:"redundancy-status-numeric",value:"2"}),
    new APIProp({name:"controller-a-status",value:"Operational"}),
    new APIProp({name:"controller-a-status-numeric",value:"0"}),
    new APIProp({name:"controller-a-serial-number",value:"CN8402M043"}),
    new APIProp({name:"controller-b-status",value:"Operational"}),
    new APIProp({name:"controller-b-status-numeric",value:"0"}),
    new APIProp({name:"controller-b-serial-number",value:"CN8402M004"})],
    {basetype:"redundancy",name:"system-redundancy",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:20:10)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:20:10"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536810"})],
    {basetype:"status",name:"",oid:"2"})
])
# show snmp-parameters 
new APIData([
  new APISnmpParameters([
    new APIProp({name:"snmp-enabled",value:"Enabled"}),
    new APIProp({name:"snmp-enabled-numeric",value:"1"}),
    new APIProp({name:"snmp-filter",value:"warn"}),
    new APIProp({name:"snmp-filter-numeric",value:"14"}),
    new APIProp({name:"snmp-trap-host-1",value:"10.136.60.8"}),
    new APIProp({name:"snmp-trap-host-2",value:"10.136.89.80"}),
    new APIProp({name:"snmp-trap-host-3",value:"0.0.0.0"}),
    new APIProp({name:"snmp-read-community",value:"********"}),
    new APIProp({name:"snmp-write-community",value:"********"})],
    {basetype:"snmp-parameters",name:"",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:20:21)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:20:21"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536821"})],
    {basetype:"status",name:"",oid:"2"})
])
# show system-parameters 
new APIData([
  new APISystemParametersTable([
    new APIProp({name:"ulp-enabled",value:"true"}),
    new APIProp({name:"profiles-enabled",value:"true"}),
    new APIProp({name:"max-ports",value:"4"}),
    new APIProp({name:"max-drives",value:"149"}),
    new APIProp({name:"max-volumes",value:"1024"}),
    new APIProp({name:"max-vdisks",value:"32"}),
    new APIProp({name:"max-luns",value:"1024"}),
    new APIProp({name:"max-owned-arrays-per-controller",value:"16"}),
    new APIProp({name:"max-storage-pools-per-controller",value:"1"}),
    new APIProp({name:"max-capi-arrays",value:"32"}),
    new APIProp({name:"max-chunk-size",value:"512"}),
    new APIProp({name:"min-chunk-size",value:"16"}),
    new APIProp({name:"physical-position-offset",value:"1"}),
    new APIProp({name:"backoff-percentage",value:"1"}),
    new APIProp({name:"metadata-size",value:"32768"}),
    new APIProp({name:"max-host-groups-per-storage-pool",value:"0"}),
    new APIProp({name:"max-hosts-per-host-group",value:"0"}),
    new APIProp({name:"max-volume-groups-per-pool",value:"0"}),
    new APIProp({name:"max-volumes-per-volume-group",value:"0"}),
    new APIProp({name:"max-snapshot-groups-per-pool",value:"0"}),
    new APIProp({name:"max-snapshots-per-snapshot-group",value:"0"}),
    new APIProp({name:"max-midline-per-storage-pool",value:"0"}),
    new APIProp({name:"max-standard-per-storage-pool",value:"0"}),
    new APIProp({name:"max-performance-per-storage-pool",value:"0"}),
    new APIProp({name:"local-controller",value:"A"}),
    new APIProp({name:"local-controller-numeric",value:"1"}),
    new APIProp({name:"serial-number",value:"1E0F27"}),
    new APIProp({name:"external-targetid-control",value:"Disabled"}),
    new APIProp({name:"external-targetid-control-numeric",value:"0"}),
    new APIProp({name:"lan-heartbeat",value:"Disabled"}),
    new APIProp({name:"lan-heartbeat-numeric",value:"0"}),
    new APIProp({name:"ip-address-mode",value:"CAPI_TWO_IP_ADDRESSES_MODE"}),
    new APIProp({name:"ip-address-mode-numeric",value:"0"}),
    new APIProp({name:"debug-flags",value:"0031fa3b"}),
    new APIProp({name:"enclosure-flags",value:"00000005"}),
    new APIProp({name:"num-global-spares",value:"0"}),
    new APIProp({name:"dynamic-spare-rescan-rate",value:"0"}),
    new APIProp({name:"performance-tuning-flags",value:"Disabled"}),
    new APIProp({name:"performance-tuning-flags-numeric",value:"0"}),
    new APIProp({name:"min-backing-store-size",value:"10485760"})],
    {basetype:"system-parameters-table",name:"system-parameters",oid:"1"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:20:32)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:20:32"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536832"})],
    {basetype:"status",name:"",oid:"2"})
])
# show users 
new APIData([
  new APIUsers([
    new APIProp({name:"username",value:"ftp"}),
    new APIProp({name:"roles",value:"manage,monitor"}),
    new APIProp({name:"user-type",value:"Standard"}),
    new APIProp({name:"user-type-numeric",value:"2"}),
    new APIProp({name:"user-locale",value:"English"}),
    new APIProp({name:"user-locale-numeric",value:"0"}),
    new APIProp({name:"interface-access-WBI",value:""}),
    new APIProp({name:"interface-access-CLI",value:""}),
    new APIProp({name:"interface-access-FTP",value:"x"}),
    new APIProp({name:"interface-access-SMIS",value:""}),
    new APIProp({name:"interface-access-SNMP",value:""}),
    new APIProp({name:"storage-size-base",value:"10"}),
    new APIProp({name:"storage-size-precision",value:"1"}),
    new APIProp({name:"storage-size-units",value:"Auto"}),
    new APIProp({name:"temperature-scale",value:"Celsius"}),
    new APIProp({name:"timeout",value:"1800"}),
    new APIProp({name:"ui-refresh",value:"30"}),
    new APIProp({name:"authentication-type",value:""}),
    new APIProp({name:"privacy-type",value:""}),
    new APIProp({name:"password",value:"********"}),
    new APIProp({name:"privacy-password",value:"********"}),
    new APIProp({name:"trap-destination",value:""})],
    {basetype:"users",name:"user",oid:"1"}),
  new APIUsers([
    new APIProp({name:"username",value:"jflynn"}),
    new APIProp({name:"roles",value:"manage"}),
    new APIProp({name:"user-type",value:"Advanced"}),
    new APIProp({name:"user-type-numeric",value:"3"}),
    new APIProp({name:"user-locale",value:"English"}),
    new APIProp({name:"user-locale-numeric",value:"0"}),
    new APIProp({name:"interface-access-WBI",value:"x"}),
    new APIProp({name:"interface-access-CLI",value:"x"}),
    new APIProp({name:"interface-access-FTP",value:"x"}),
    new APIProp({name:"interface-access-SMIS",value:"x"}),
    new APIProp({name:"interface-access-SNMP",value:""}),
    new APIProp({name:"storage-size-base",value:"10"}),
    new APIProp({name:"storage-size-precision",value:"1"}),
    new APIProp({name:"storage-size-units",value:"Auto"}),
    new APIProp({name:"temperature-scale",value:"Fahrenheit"}),
    new APIProp({name:"timeout",value:"1800"}),
    new APIProp({name:"ui-refresh",value:"30"}),
    new APIProp({name:"authentication-type",value:""}),
    new APIProp({name:"privacy-type",value:""}),
    new APIProp({name:"password",value:"********"}),
    new APIProp({name:"privacy-password",value:"********"}),
    new APIProp({name:"trap-destination",value:""})],
    {basetype:"users",name:"user",oid:"2"}),
  new APIUsers([
    new APIProp({name:"username",value:"manage"}),
    new APIProp({name:"roles",value:"manage,monitor"}),
    new APIProp({name:"user-type",value:"Standard"}),
    new APIProp({name:"user-type-numeric",value:"2"}),
    new APIProp({name:"user-locale",value:"English"}),
    new APIProp({name:"user-locale-numeric",value:"0"}),
    new APIProp({name:"interface-access-WBI",value:"x"}),
    new APIProp({name:"interface-access-CLI",value:"x"}),
    new APIProp({name:"interface-access-FTP",value:"x"}),
    new APIProp({name:"interface-access-SMIS",value:""}),
    new APIProp({name:"interface-access-SNMP",value:""}),
    new APIProp({name:"storage-size-base",value:"10"}),
    new APIProp({name:"storage-size-precision",value:"1"}),
    new APIProp({name:"storage-size-units",value:"Auto"}),
    new APIProp({name:"temperature-scale",value:"Celsius"}),
    new APIProp({name:"timeout",value:"1800"}),
    new APIProp({name:"ui-refresh",value:"30"}),
    new APIProp({name:"authentication-type",value:""}),
    new APIProp({name:"privacy-type",value:""}),
    new APIProp({name:"password",value:"********"}),
    new APIProp({name:"privacy-password",value:"********"}),
    new APIProp({name:"trap-destination",value:""})],
    {basetype:"users",name:"user",oid:"3"}),
  new APIUsers([
    new APIProp({name:"username",value:"monitor"}),
    new APIProp({name:"roles",value:"monitor"}),
    new APIProp({name:"user-type",value:"Standard"}),
    new APIProp({name:"user-type-numeric",value:"2"}),
    new APIProp({name:"user-locale",value:"English"}),
    new APIProp({name:"user-locale-numeric",value:"0"}),
    new APIProp({name:"interface-access-WBI",value:"x"}),
    new APIProp({name:"interface-access-CLI",value:"x"}),
    new APIProp({name:"interface-access-FTP",value:""}),
    new APIProp({name:"interface-access-SMIS",value:""}),
    new APIProp({name:"interface-access-SNMP",value:""}),
    new APIProp({name:"storage-size-base",value:"10"}),
    new APIProp({name:"storage-size-precision",value:"1"}),
    new APIProp({name:"storage-size-units",value:"Auto"}),
    new APIProp({name:"temperature-scale",value:"Celsius"}),
    new APIProp({name:"timeout",value:"1800"}),
    new APIProp({name:"ui-refresh",value:"30"}),
    new APIProp({name:"authentication-type",value:""}),
    new APIProp({name:"privacy-type",value:""}),
    new APIProp({name:"password",value:"********"}),
    new APIProp({name:"privacy-password",value:"********"}),
    new APIProp({name:"trap-destination",value:""})],
    {basetype:"users",name:"user",oid:"4"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:20:36)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:20:36"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536836"})],
    {basetype:"status",name:"",oid:"5"})
])
# 
# versions 
new APIData([
  new APIVersions([
    new APIProp({name:"sc-cpu-type",value:"Intel Tolapai 1200MHz"}),
    new APIProp({name:"bundle-version",value:"TS252R007"}),
    new APIProp({name:"build-date",value:"Fri May  8 15:40:57 MDT 2015"}),
    new APIProp({name:"sc-fw",value:"T252R06-01"}),
    new APIProp({name:"sc-baselevel",value:"T252R06-01"}),
    new APIProp({name:"sc-memory",value:"F400R02"}),
    new APIProp({name:"sc-loader",value:"23.008"}),
    new APIProp({name:"capi-version",value:"3.17"}),
    new APIProp({name:"mc-fw",value:"L252R008-01"}),
    new APIProp({name:"mc-loader",value:"2.5"}),
    new APIProp({name:"ec-fw",value:"2028"}),
    new APIProp({name:"pld-rev",value:"22"}),
    new APIProp({name:"hw-rev",value:"53"}),
    new APIProp({name:"him-rev",value:"52"}),
    new APIProp({name:"him-model",value:"2"}),
    new APIProp({name:"backplane-type",value:"7"}),
    new APIProp({name:"host-channel_revision",value:"0"}),
    new APIProp({name:"disk-channel_revision",value:"3"}),
    new APIProp({name:"mrc-version",value:"0"})],
    {basetype:"versions",name:"controller-a-versions",oid:"1"}),
  new APIVersions([
    new APIProp({name:"sc-cpu-type",value:"Intel Tolapai 1200MHz"}),
    new APIProp({name:"bundle-version",value:"TS252R007"}),
    new APIProp({name:"build-date",value:"Fri May  8 15:40:57 MDT 2015"}),
    new APIProp({name:"sc-fw",value:"T252R06-01"}),
    new APIProp({name:"sc-baselevel",value:"T252R06-01"}),
    new APIProp({name:"sc-memory",value:"F400R02"}),
    new APIProp({name:"sc-loader",value:"23.008"}),
    new APIProp({name:"capi-version",value:"3.17"}),
    new APIProp({name:"mc-fw",value:"L252R008-01"}),
    new APIProp({name:"mc-loader",value:"2.5"}),
    new APIProp({name:"ec-fw",value:"2028"}),
    new APIProp({name:"pld-rev",value:"22"}),
    new APIProp({name:"hw-rev",value:"53"}),
    new APIProp({name:"him-rev",value:"52"}),
    new APIProp({name:"him-model",value:"2"}),
    new APIProp({name:"backplane-type",value:"7"}),
    new APIProp({name:"host-channel_revision",value:"0"}),
    new APIProp({name:"disk-channel_revision",value:"3"}),
    new APIProp({name:"mrc-version",value:"0"})],
    {basetype:"versions",name:"controller-b-versions",oid:"2"}),
  new APIStatus([
    new APIProp({name:"response-type",value:"Success"}),
    new APIProp({name:"response-type-numeric",value:"0"}),
    new APIProp({name:"response",value:"Command completed successfully. (2016-03-09 15:21:08)"}),
    new APIProp({name:"return-code",value:"0"}),
    new APIProp({name:"component-id",value:""}),
    new APIProp({name:"time-stamp",value:"2016-03-09 15:21:08"}),
    new APIProp({name:"time-stamp-numeric",value:"1457536868"})],
    {basetype:"status",name:"",oid:"3"})
])
# 
