#Running configuration:

; 516733-B21 Configuration Editor; Created on release #Z.14.43

hostname "ProCurve 6120XG Blade Switch"
time timezone -360
time daylight-time-rule Continental-US-and-Canada
ip access-list extended "100"
    10 deny ip 0.0.0.0 255.255.255.255 0.0.0.0 255.255.255.255
    exit
interface 23
    lacp Active
    exit
interface 24
    disable
    lacp Active
    exit
interface 15
    ip access-group "100" in
    exit
vlan 1
    name "DEFAULT_VLAN"
    untagged 1-24
    ip address dhcp-bootp
    exit
mirror 1 port 15
interface 17
    monitor all in mirror 1
    exit
snmp-server community "public" unrestricted
spanning-tree 2 bpdu-filter
oobm
    ip address dhcp-bootp
    exit
uplink-failure-detection
uplink-failure-detection track 1 links-to-monitor 17 links-to-disable 1-2
uplink-failure-detection track 2 links-to-monitor 18 links-to-disable 3
uplink-failure-detection track 3 links-to-monitor 19 links-to-disable 5


