### Modify 'ExitOnFailure' property value to FALSE, when executing in script
### mode to avoid exiting (vcmcli returning FAILURE) on a command failure
### 	set cli ExitOnFailure=TRUE

set domain Name=ARTNTNBIVIS-A-VZ-Flx1-01


set stackinglink -quiet DomainStackingMode=Full


set snmp enet ReadCommunity=2Y2LHTZP31 EnableV1V2=true EnableV3=false
set snmp fc ReadCommunity=public EnableV1V2=false EnableV3=false


add snmp-trap snmp2 Address=10.194.236.206 Port=162 Community=2Y2LHTZP31 Format=SNMPv2 Severity="Normal, Minor, Major, Critical" EnetCategories="PortStatus" FcCategories="PortStatus" Inform=false
add snmp-trap snmp3 Address=10.136.239.161 Port=162 Community=2Y2LHTZP31 Format=SNMPv2 Severity="Normal, Major, Critical" EnetCategories="PortStatus" FcCategories="PortStatus" Inform=false
add snmp-trap snmp1 Address=10.194.102.206 Port=162 Community=2Y2LHTZP31 Format=SNMPv2 Severity="Normal, Minor, Major, Critical" EnetCategories="PortStatus" FcCategories="PortStatus" Inform=false

### Setting the ssl-strength causes the web server to restart. Any active
### GUI session must be re-established. This action does not impact CLI
### sessions.
set ssl -quiet Strength=Strong
set user-security StrongPasswords=Disabled MinPasswordLength=8
set ldap Enabled=false

### Below command can only be executed by remote user (ldap/tacacs/radius) having a 'domain' privilege
### Locally authenticated users are not allowed to disable or enable local user authentication
### set local-users Enabled=true PrimaryRemoteAuthenticationMethod=none

set tacacs Enabled=false Port=49 Timeout=10 SecondaryPort=49 SecondaryTimeout=10 LoggingEnabled=false

set radius Enabled=false Port=1812 Timeout=10 SecondaryPort=1812 SecondaryTimeout=10


set role domain Order=local,ldap,radius,tacacs Operations=FirmwareUpdate,RestoreConfig,SaveConfig,SupportFiles
set role network Order=tacacs,radius,local Operations=PortMonitoring
set role server Order=ldap,local Operations=PortMonitoring
set role storage Order=radius,local Operations=

set serverid Type=Factory-Default

### Password for user  : 'swtchgrp' set to 'changeme'
add user swtchgrp Password=changeme Enabled=true Roles="domain,network,storage,server"
### Password for user  : 'srenggrp' set to 'changeme'
add user srenggrp Password=changeme Enabled=true Roles="domain,network,storage,server"
### Password for user  : 'fnenggrp' set to 'changeme'
add user fnenggrp Password=changeme Enabled=true Roles="domain,network,storage,server"
### Password for user  : 'vendgrp' set to 'changeme'
add user vendgrp Password=changeme Enabled=true Roles="domain,network,storage,server"
### Password for user  : 'ronlygrp' set to 'changeme'
add user ronlygrp Password=changeme Enabled=true Roles=""

set session Timeout=15

set auto-deployment TftpMode=Auto


set qos CustomNoFCoE

set qos-map DOT1P Class=Best_Effort Values="0-7"

set qos-map DSCP Class=Best_Effort Values="AF11-CS7"

set qos-class Medium Enabled=true RealTime=false Share=25 EgressDOT1P=2 MaxShare=100
set qos-class Real_Time Enabled=true RealTime=true Share=10 EgressDOT1P=5 MaxShare=10
set qos-class Class1 Enabled=false RealTime=false MaxShare=100
set qos-class Class2 Enabled=false RealTime=false MaxShare=100
set qos-class Class3 Enabled=false RealTime=false MaxShare=100
set qos-class Class4 Enabled=false RealTime=false MaxShare=100
set qos-class Class5 Enabled=false RealTime=false MaxShare=100
set qos-class Best_Effort MaxShare=100

set qos-classifier Downlinks Classifiers=DOT1P,DSCP
set qos-classifier Uplinks Classifiers=DOT1P

set qos-map DOT1P Class=Best_Effort Values="0,1"
set qos-map DOT1P Class=Medium Values="2,3,4"
set qos-map DOT1P Class=Real_Time Values="5,6,7"
set qos-map DSCP Class=Best_Effort Values="AF11,AF12,AF13,CS0,CS1"
set qos-map DSCP Class=Medium Values="AF21,AF22,AF23,AF31,AF32,AF33,AF41,AF42,AF43,CS2,CS3,CS4"
set qos-map DSCP Class=Real_Time Values="CS5,CS6,CS7,EF"

set qos CustomWithFCoE

set qos-map DOT1P Class=Best_Effort Values="0-7"

set qos-map DSCP Class=Best_Effort Values="AF11-CS7"

set qos-class Medium Enabled=true RealTime=false Share=25 EgressDOT1P=2 MaxShare=100
set qos-class Real_Time Enabled=true RealTime=true Share=10 EgressDOT1P=5 MaxShare=10
set qos-class Class1 Enabled=false RealTime=false MaxShare=100
set qos-class Class2 Enabled=false RealTime=false MaxShare=100
set qos-class Class3 Enabled=false RealTime=false MaxShare=100
set qos-class Class4 Enabled=false RealTime=false MaxShare=100
set qos-class Best_Effort MaxShare=100

set qos-classifier Downlinks Classifiers=DOT1P,DSCP
set qos-classifier Uplinks Classifiers=DOT1P

set qos-map DOT1P Class=Best_Effort Values="0,1"
set qos-map DOT1P Class=Medium Values="2,3,4"
set qos-map DOT1P Class=Real_Time Values="5,6,7"
set qos-map DSCP Class=Best_Effort Values="AF11,AF12,AF13,CS0,CS1"
set qos-map DSCP Class=Medium Values="AF21,AF22,AF23,AF31,AF32,AF33,AF41,AF42,AF43,CS2,CS3,CS4"
set qos-map DSCP Class=Real_Time Values="CS5,CS6,CS7,EF"

set qos Passthrough

add port-monitor AnalyzerPort=enc0:1:X9 Speed=Auto Duplex=Full
add port-monitor MonitorPort=enc0:1:d10 Direction=Both
add port-monitor MonitorPort=enc0:1:d11 Direction=Both
add port-monitor MonitorPort=enc0:1:d12 Direction=Both
add port-monitor MonitorPort=enc0:1:d13 Direction=Both
add port-monitor MonitorPort=enc0:1:d16 Direction=Both
add port-monitor MonitorPort=enc0:1:d9 Direction=Both
add port-monitor MonitorPort=enc0:2:d10 Direction=Both
add port-monitor MonitorPort=enc0:2:d11 Direction=Both
add port-monitor MonitorPort=enc0:2:d12 Direction=Both
add port-monitor MonitorPort=enc0:2:d13 Direction=Both
add port-monitor MonitorPort=enc0:2:d16 Direction=Both
add port-monitor MonitorPort=enc0:2:d9 Direction=Both
set port-monitor Enabled=true

set domain MacType=Factory-Default

set mac-cache Enabled=true Refresh=5
set igmp Enabled=false
set enet-vlan -quiet VlanCapacity=Expanded
set statistics-throughput -quiet Enabled=true SampleRate=5m
set port-protect networkLoop=Enabled
set port-protect pauseFlood=Enabled
set lldp enhancedTlv=true
set lacp-timer Default=Short

add uplinkset SUS_VSBP_VSEP_BASE_ISL ConnectionMode=Auto LacpTimer=Domain-Default
add uplinkport enc0:1:X7 UplinkSet=SUS_VSBP_VSEP_BASE_ISL Speed=Auto
add uplinkport enc0:1:X8 UplinkSet=SUS_VSBP_VSEP_BASE_ISL Speed=Auto
add uplinkport enc0:2:X7 UplinkSet=SUS_VSBP_VSEP_BASE_ISL Speed=Auto

add network VSBP_BASE -quiet UplinkSet=SUS_VSBP_VSEP_BASE_ISL VLanID=2 NAGs=Default
add network VSXP_BASE -quiet UplinkSet=SUS_VSBP_VSEP_BASE_ISL VLanID=3 NAGs=Default

add network EDN -quiet NAGs=Default VLanTunnel=Disabled LacpTimer=Domain-Default
add uplinkport enc0:1:X1 Network=EDN Speed=Auto
add uplinkport enc0:2:X1 Network=EDN Speed=Auto
add network ICN -quiet NAGs=Default ConnectionMode=Failover VLanTunnel=Disabled
add network SPARE_NOT_REQD -quiet NAGs=Default VLanTunnel=Disabled LacpTimer=Domain-Default
add network RAN -quiet NAGs=Default ConnectionMode=Failover VLanTunnel=Disabled
add uplinkport enc0:1:X3 Network=RAN Speed=Auto Role=Primary
add uplinkport enc0:2:X3 Network=RAN Speed=Auto Role=Secondary
add network WSN -quiet NAGs=Default ConnectionMode=Failover VLanTunnel=Disabled
### PacketBufferOverallocationRatio is applicable only for
### HP 1/10Gb VC-Enet and HP 1/10Gb-F VC-Enet
### modules and deprecated for all other module types.

set advanced-networking -quiet PacketBufferOverallocationRatio=1 FlowControl=auto

set domain WwnType=Factory-Default


set link-dist-interval Interval=30


add profile ARTNTNBIVISP-A-VZ-C7000-2 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-2 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-2 enc0:2

add profile ARTNTNBIVISP-A-VZ-C7000-3 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-3 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-3 enc0:3

add profile ARTNTNBIVISP-A-VZ-C7000-4 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-4 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-4 enc0:4

add profile ARTNTNBIVISP-A-VZ-C7000-5 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-5 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-5 enc0:5

add profile ARTNTNBIVISP-A-VZ-C7000-6 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-6 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-6 enc0:6

add profile ARTNTNBIVISP-A-VZ-C7000-7 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-7 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-7 enc0:7

add profile ARTNTNBIVISP-A-VZ-C7000-8 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-8 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-8 enc0:8

add profile ARTNTNBIVISP-A-VZ-C7000-15 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-15 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-15 enc0:15

add profile ARTNTNBIVISP-A-VZ-C7000-1 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Simplified
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=EDN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=SPARE_NOT_REQD PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=ICN PXE=UseBIOS SriovType=DEFAULT
add enet-connection ARTNTNBIVISP-A-VZ-C7000-1 Network=ICN PXE=UseBIOS SriovType=DEFAULT

assign profile ARTNTNBIVISP-A-VZ-C7000-1 enc0:1

add profile ARTNTNBIVIS-A-VZ-9 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=WSN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-9 Network=WSN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-9 enc0:9

add profile ARTNTNBIVIS-A-VZ-10 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=WSN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-10 Network=WSN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-10 enc0:10

add profile ARTNTNBIVIS-A-VZ-11 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=WSN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-11 Network=WSN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-11 enc0:11

add profile ARTNTNBIVIS-A-VZ-12 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=WSN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-12 Network=WSN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-12 enc0:12

add profile ARTNTNBIVIS-A-VZ-13 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=VSBP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=WSN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-13 Network=WSN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-13 enc0:13

add profile ARTNTNBIVIS-A-VZ-16 -NoDefaultEnetConn -NoDefaultFcConn -NoDefaultFcoeConn -quiet NAG=Default HideUnusedFlexNICs=false BootMode=Auto SriovMode=Advanced
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=VSXP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=VSXP_BASE PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=Unassigned PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=EDN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=RAN PXE=UseBIOS SriovType=Disabled
add enet-connection ARTNTNBIVIS-A-VZ-16 Network=RAN PXE=UseBIOS SriovType=Disabled

assign profile ARTNTNBIVIS-A-VZ-16 enc0:16

->show firmware
=========================================================================
ID      Enclosure      Bay  Type     Firmware Version           Status
=========================================================================
enc0:1  CerritosC7000  1    VC-ENET  4.10 2013-08-27T23:10:13Z  OK
enc0:2  CerritosC7000  2    VC-ENET  4.10 2013-08-27T23:10:13Z  OK
enc0:3  CerritosC7000  3    Unknown                             Unknown
enc0:4  CerritosC7000  4    Unknown                             Unknown

